<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gradient-to-r from-[#edf2fb] to-[#d7e3fc] min-h-screen pb-10">
    <!-- ðŸŒ Centered, Bold, Fixed Navbar -->
    <h2>This is footer</h2>
  </body>
</html>
